<article class="sidebar">
        <h1 class="sidebar-title"></h1>
        <p class="sidebar-body"></p>
        <div class="pixgrid clearfix">
            <% if (artwork.length > 0) { %>
              <% 	for (i=0; i<artwork.length; i++) { %>
                  <img src="/images/artwork/<%= artwork[i] %>"
              <% } %>
              <%  } %>
        </div>
</article>