<div class="maincontent">
        
                    <article class="article">
                      <h1 class="article-title">What is SERL?</h1>
                        <p>The Software Engineering Research Lab (SERL) at AUT University undertakes world-class research directed at understanding and improving the practice of software professionals in their creation and preservation of software systems. We are interested in all models of software provision – bespoke development, package and component customization, free/libre open source software (FLOSS) development, and delivery of software as a service (SaaS). The research we carry out may relate to just one or all of these models.</p>
                        
                    </article><!-- article -->
        
                    <article class="article">
                      <h1 class="article-title">Get Busy!</h1>
                      <p>If you want to keep up with what's going on with the group, <a href="#">join our meetup group</a>, <a href="#">follow us on twitter</a>. If you're in FaceBook, you can also <a href="#">join our FaceBook group</a>.</p>
                    </article><!-- article -->
        
                    <article class="article">
                      <h1 class="article-title">Who can upload?</h1>
                      <ul>
                        <li>Anybody interested in software engineering and the software industry</li>
                        <li>Students, teachers, learners and users</li>
                        <li>Those interested in meeting and making a connection with others in the IT industry.</li>
                      </ul>
                    </article><!-- article -->
                    <article class="article">
                      <h1 class="article-title">Reference</h1>
                      <ul>
                        <li><a href="https://aut.researchgateway.ac.nz/handle/10292/1680">AUT Research Gateway</a></li>                        
                      </ul>
                    </article><!-- article -->
                  </div>