<article class="sidebar">
        <h1 class="sidebar-title">Copyrights</h1>
        <p>
          Items in these collections are protected by the Copyright Act 1994 (New Zealand). These works may be consulted by you, provided you comply with the provisions of the Act and the following conditions of use:
        </p>
        <ul class="sidebar-body">
          <li>Any use you make of these works must be for research or private study purposes only, and you may not make them available to any other person.</li>
          <li>Authors control the copyright of their works. You will recognise the author’s right to be identified as the author of the work, and due acknowledgement will be made to the author where appropriate.</li>
          <li>You will obtain the author’s permission before publishing any material from the work.</li>
        </ul>
</article><!-- article -->
