<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
      <% include partials/template/header.ejs %>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="feedback-form-title">Enter news details</h1>
            <form class="feedback-form">
              <div class="form-group">
                <label for="feedback-form-title">News Title</label>
                <input type="text" class="form-control" id="feedback-form-title" placeholder="Enter your title of the news article">
              </div>
  
              <div class="form-group">
                <label for="feedback-form-author">News Category</label>
                <input type="text" class="form-control" id="feedback-form-category" placeholder="Enter news category">                              
              </div>              
             <div class="form-group">
                  <label for="feedback-form-message">Message Description</label>
                  <textarea type="text" placeholder="Enter your message / comments, then hit the submit"  class="form-control" id="feedback-form-message" rows="6"></textarea>
              </div>
              <button type="submit" class="btn btn-default pull-right" style="margin-bottom:50px;">Submit</button>              
            </form>
          </div><!-- primary -->
          <aside class="col-sm-6">
            <div class="maincontent feedback">
                <h2 class="article-title">Recent News</h2>
                <div class="feedback-messages"></div>
            </div>
          </aside><!-- secondary -->
        </div>
      </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>    
  </body>
</html>